/*-- scss:rules --*/
$darkbrown: #5A3E2B;

:root {
  --darkbrown: #{$darkbrown};
}

/*-- scss:defaults --*/
$primary: #8B864E;
$secondary: #BDB76B;
$body-color: #713A1C;
$link-color: #3A520C;
$body-bg: #CDC673;
$font-family-base: "Times New Roman", Times, serif;


// define Sass vars 
$dark_olive: #B3B854;
$khakisp: #BDB76B;
$khaki3: #CDC673;
$darkbrown: #713A1C;
$khaki: #F0E68C;
$khaki4: #8B864E;
$dark_olive1: #3A520C;

.navbar-brand {
  color: $khaki !important;
}

.navbar-nav .nav-link {
  color: $khaki !important;
}

/* hamburger + search icon */
.navbar, .aa-Search-button {
  color: $khaki !important;
  border-color: $khaki !important;
}

// use vars in CSS rules (we'll learn more about how to write CSS soon!) 
h1, h2, h3 {
  color: $darkbrown;
}

// body text
body {
  color: $darkbrown;
  background-color: $khaki;
  font-family: "Times New Roman", Times, serif;
}

// search button icon
.navbar .aa-SubmitIcon {
  color: $khaki !important;
}

a {
  color: $darkbrown;
}

// linkedin and github links on index.qmd page
a.about-link {
  color: $darkbrown !important;
}

// color when you hover over a link
a:hover {
  color: #3A520C !important;
}

.btn {
  background: $khakisp;
  color: $dark_olive; 
  border-color: $darkbrown;
}

// banner titles
div.quarto-title-banner h1{
  color: #F0E68C;
}

// subtitles and headlines in banners
div.quarto-title-banner.page-columns.page-full {
  color: #F0E68C ;
}

// hamburger icon
.navbar-toggler-icon {
  background-image: none !important;  /* remove default icon */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon::before {
  content: "☰";  /* hamburger symbol */
  color: #F0E68C;  /* khaki */
  font-size: 1.5em;
}

// getting rid  of square outline over hamburger
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

// horizontal lines
hr {
  border: none;
  border-top: 1px solid var(--darkbrown) !important;
}

$darkbrown: #5A3E2B;

hr {
  border: none;                 // removes default styling
  border-top: 1px solid $darkbrown;
}
