/*-- scss:rules --*/

/*-- scss:defaults --*/
$primary: #8B864E;
$secondary: #BDB76B;
$body-color: #713A1C;
$link-color: #3A520C;
$body-bg: #CDC673;
$font-family-base: "Times New Roman", Times, serif;


// define Sass vars 
$dark_olive: #B3B854;
$khakisp: #BDB76B;
$khaki3: #CDC673;
$darkbrown: #713A1C;
$khaki: #F0E68C;
$khaki4: #8B864E;
$dark_olive1: #3A520C;

.navbar-brand {
  color: $khaki !important;
}

.navbar-nav .nav-link {
  color: $khaki !important;
}

/* hamburger + search icon */
.navbar .aa-SearchBox-button {
  color: $khaki !important;
  border-color: $khaki !important;
}

// use vars in CSS rules (we'll learn more about how to write CSS soon!) 
h1, h2, h3 {
  color: $darkbrown;
}


body {
  color: $darkbrown;
  background-color: $khaki;
  font-family: "Times New Roman", Times, serif;
}


a {
  color: $dark_olive;
}

.btn {
  background: $khakisp;
  color: $dark_olive; 
  border-color: $darkbrown;
}
