/*-- scss:rules --*/

// define Sass vars 
$dark_olive: #B3B854;
$khakisp: #BDB76B;
$darkbrown: #713A1C;
$khaki: #F0E68C;


// use vars in CSS rules (we'll learn more about how to write CSS soon!) 
h1, h2, h3 {
  color: $darkbrown;
}

body {
  color: $darkbrown;
}

.btn {
  background: $khakisp;
  color: $dark_olive; 
  border-color: $darkbrown;
}
